<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lrh.dao.ProductAttrDataDao">
    <insert id="addProductAttr" parameterType="org.lrh.entity.po.ProductAttrData">
        insert into t_product_attrData (proId,attrData,price,stocks) value (#{proId},#{attrData},#{price},#{stocks})
    </insert>

</mapper>